# Setup: title and description appear in the sidebar
title:            'MC3'
description:      'Modèles de <br> Calcul <br> Complexité <br> Combinatoire <br> @<a href="https://www.i3s.unice.fr/fr/">I3S</a>'
url: ""

# jekyll theme (paginate seems not needed)
remote_theme: fongandrew/hydeout
paginate: 5

# for installing jekyll-scholar
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-scholar

# custom biblio layout
scholar:
  #style: _bibliography/custombibstyle.csl #chicago-fullnote-bibliography 
  locale: en
  bibliography_template: bib
  #sort-by:
  order: descending
  group_by: year
  group_order: descending
  # https://github.com/inukshuk/jekyll-scholar/issues/165
  bibliography_list_attributes:
    reversed: "reversed"
