

# Setup
title:            MC3
#tagline:          'A Jekyll theme'
#description:      'Modèle de Calcul, Complexité, Combinatoire @ <a href="https://www.i3s.unice.fr/fr/" target="_blank">I3S</a>'
#url:              https://github.com/richardadrien/
#baseurl:          '/mc3'
                  # the optional subpath of your site, e.g. "/blog"
                  # NB: This applies to all pages in your Jekyll site.
                  # If you want to move just the blog index pages but keep
                  # other pages at root, see the paginate_path and
                  # sidebar_blog_link below.

remote_theme: fongandrew/hydeout
paginate: 5 
