# Setup
title:            'MC3'
description:      'Modèles de <br> Calcul <br> Complexité <br> Combinatoire <br> @<a href="https://www.i3s.unice.fr/fr/">I3S</a>'

remote_theme: fongandrew/hydeout
paginate: 5

plugins:
  - jekyll-scholar

