<!-- Optional additional links to insert in sidebar nav -->
<a href="{{ site.url }}{{ site.baseurl }}/#group-link"> Group </a>  
<a href="{{ site.url }}{{ site.baseurl }}/#members-link"> Members </a>  
<a href="{{ site.url }}{{ site.baseurl }}/#projects-link"> Projects </a>
<a href="{{ site.url }}{{ site.baseurl }}/#publications-link"> Publications </a>
<a href="{{ site.url }}{{ site.baseurl }}/#seminars-link"> Seminars </a>
<a href="{{ site.url }}{{ site.baseurl }}/#software-link"> Software </a>
<a href="{{ site.url }}{{ site.baseurl }}/#news-link"> News </a>
