<div id="sidebar">
  <header>
    <h1 class="site-title">
      <a href="{{ "/" | relative_url }}">
        MC3
      </a>
    </h1>
    <p class="lead">Model de Calcul, Complexité Combinatoire @; <a href="https://www.i3s.unice.fr/">I3S</a></p>
  </header>
  <nav id="sidebar-nav-links">
    <a class="page-link" href="{{ site.url }}{{ site.baseurl }}/#group-link">Group</a>
    <a class="page-link" href="{{ site.url }}{{ site.baseurl }}/#members-link">Members</a>
    <a class="page-link" href="{{ site.url }}{{ site.baseurl }}/#projects-link">Projects</a>
    <a class="page-link" href="{{ site.url }}{{ site.baseurl }}/#publications-link">Publications</a>
    <a class="page-link" href="{{ site.url }}{{ site.baseurl }}/#seminars-link">Seminars</a>
    <a class="page-link" href="{{ site.url }}{{ site.baseurl }}/#software-link">Software</a>
  </nav>
  <div style="font-size: 0.8em;">
    <img src="{{ site.url }}{{ site.baseurl }}/images/cc-heart.png" style="height: 24px; float: left; padding-top: 0px; padding-right: 8px;">
    <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>
    MC3 team
    (<a href="{{ site.url }}{{ site.baseurl }}/#credits-link">credits</a>)
  </div>
</div>
